.page.page-home {
    .card a.card-title {
        padding: 0;
        margin: 0;
        font-size: 22px;
        font-family: 'Roboto';
        font-weight: 400;
        margin-bottom: 16px;
        display: block;
        line-height: 30px;
    }

    .hero .container {
        display: none;
    }

    .main-container section:first-child {
        padding-top: 0;
    }

    .content {
        section {
            padding-bottom: 35px;

            h2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 24px;
            }
        }
    }
}
